/* General styling for the navigation container */
.navigation {
  font-family: Arial, sans-serif; /* Set font family for the entire navigation */
}

/* Styling for the navigation bar */
.navigationbar {
  background-color: rgb(227, 214, 223);
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

/* Row styling */
.navigationbar .row {
  display: flex;
  align-items: center;
}

.navigationbar .company-name h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #d70c0c;
}

.navigationbar form {
  display: flex;
  align-items: center;
}

.navigationbar input[type="search"] {
  width: 190px; 
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: auto;
}

.navigationbar button[type="submit"] {
  width: 90px;
  padding: 8px ;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.navigationbar button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Styling for the navigation bottom section */
.navigation-bottom {
  background-color: rgb(227, 214, 223);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

.navigation-bottom .row {
  display: flex;
  justify-content: center;
}

.navigation-bottom .col-2,
.navigation-bottom .col-3 {
  padding: 5px;
}

.navigation-bottom a {
  color: #d70c0c; /* Change link color to match the logo */
  text-decoration: none;
}

.navigation-bottom a:hover {
  text-decoration: underline;
}

/* Button styling */
.home-btn,
.product-all-btn,
.categories-btn,
.cart-btn,
.account-btn {
  font-size: x-large;
  color: rgb(117, 35, 250);
}

/* General link styling */
.Link {
  text-decoration: none;
}

.Link:hover {
  color: #d70c0c; /* Change color on hover */
  text-decoration: none;
}
